<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="CudaFolder" value="..\\..\\..\\CUDA_9_0_176\\x64\\Debug\\"/>-->
    <add key="CudaFolder" value=""/>
    <add key="CudaFileName" value="kernel.ptx"/>
    <add key="CudaMethodName" value="_Z6kernelPKiS0_iiiPi"/>
  </appSettings>
</configuration>