<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Args" version="1.1.2" targetFramework="net452" />
  <package id="ColorMine" version="1.2.0" targetFramework="net452" />
  <package id="Colourful" version="1.2.2" targetFramework="net452" />
  <package id="Dapper" version="1.50.4" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.4" targetFramework="net452" />
  <package id="Dapper.Extension" version="1.0.0.1" targetFramework="net452" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net452" />
  <package id="ManagedCuda-NPP" version="8.0.22" targetFramework="net452" />
</packages>